@model Sports.Models.Discussion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<h4>Discussion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </t>
            <dd>
                    @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt>
                    @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd>
                    @Html.DisplayFor(model => model.Author.UserName)
            </dd>
        </dl>
    </div>
</div>

<h4>Comments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
            <form method="post">
                <textarea class="form-control" rows="3" placeholder="Add a comment" name="Content" ></textarea>
                <input type="submit" name="Comment" value="Comment" />
            </form>
        }
        else
        {
                <p>You must be logged in to leave a comment</p>
        }

        <hr />

        @foreach (var item in Model.Comments)
        {
                <div class="row">
                    <div class="col-md-12">
                        <p>@item.Author.UserName - @item.CreatedAt</p>
                        <p>@item.Content</p>
                    </div>
                </div>
                <hr />
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>