@model IEnumerable<Sports.Models.Discussion>

@{
    ViewData["Title"] = "Discussions";
}

<h2>Discussions</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.UserName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @if (User.IsInRole("Moderator"))
                    {
                        @:|
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                    }
                </td>
            </tr>
        }
    </tbody>
</table>